<a href="https://colab.research.google.com/github/frankieglopez/Week1_GuessingGame/blob/main/week_one.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

variable

In [ ]:
x=5

float

In [ ]:
5.5

string

In [ ]:
'hello there'

Boolean

In [ ]:
True

Boolean

In [ ]:
False

List

In [ ]:
[]

Sets use curly braces

In [ ]:
{}

{}

In [ ]:
import requests

response= requests.get('https://uselessfacts.jsph.pl/random.json')

print (response.text)

In [ ]:
import requests

response= requests.get('https://uselessfacts.jsph.pl/random.json?language=en')

print (response.text)

{"id":"318e1334-18e2-47aa-8438-793d8fd615f9","text":"2,000 pounds of space dust and other space debris fall on the Earth every day.","source":"djtech.net","source_url":"http:\/\/www.djtech.net\/humor\/useless_facts.htm","language":"en","permalink":"https:\/\/uselessfacts.jsph.pl\/318e1334-18e2-47aa-8438-793d8fd615f9"}

In [ ]:
query_parameters ={
    'language': 'en'
}

response = requests.get('https://uselessfacts.jsph.pl/random.json', params=query_parameters)

print(response.json().get('text'))

Months that begin on a Sunday will always have a `Friday the 13th`.

#Data Structers
The **important** ones are **lists**, **dictionaries**, and **sets**.

1st number= starting position (inclusive)   [0:].  
2nd number = stopping position(exclusive) [0:4].  
3rd number= step example [0:4:2] skips every two starts at caleb skips jimmy and selects samantha.   

data [0] selects caleb.  
data [0:3] selects 1-3.  
data [0:4] selects all names above.  
data [0:] prints entire list.  


```
# This is formatted as code

In [ ]:
data= ['Caleb', 'Jimmy','Samantha', 'Monica' ]

data [0:4:2]

['Caleb', 'Samantha']

## Dictionaries and Sets
use curly braces for organized lists

In [ ]:
data={'Caleb', 'Jimmy', 'Samantha', 'Monica', 'Caleb'}

data_dictionary ={
    'Caleb': 5,
    'Jimmy': 10,
    'Samantha': 12,
    'Monica': 20,
    'Caleb': 4
}


print(data)
print(data_dictionary.get('Caleb'))

{'Samantha', 'Monica', 'Caleb', 'Jimmy'}
4

# Control flow- Loops and Conditionals
**Iteration** - one time through the loop.  
Basic loop.  
Pound sign is how you comment.

In [5]:
for i in range(10):
  print(i)

0
1
2
3
4
5
6
7
8
9

In [3]:
data= ['a', 'b', 'c', 'd', 'e']

for i in range(5):
  print(data[i])
  #increased here

a
b
c
d
e

In [9]:
data= ['a', 'b', 'c', 'd', 'e']

for i in range(len(data)):
  print(data[i])
  #use len to avoid using value 5
  #start at inner most function ex
for letter in data:
  print(letter)

a
b
c
d
e
a
b
c
d
e

In [11]:
data= ['a', 'b', 'c', 'd', 'e']

for i in range(len(data)): # standard for loop
  print(data[i])
  
data={'Caleb', 'Jimmy', 'Samantha', 'Monica', 'Caleb'}


for letter in data:
    print(letter)

a
b
c
d
e
Jimmy
Samantha
Monica
Caleb

In [12]:
data={'Caleb', 'Jimmy', 'Samantha', 'Monica', 'Caleb'}

for i, letter in enumerate(data): # prints i which is index and then prints data
  print(i, letter) # numbers end up side by side

0 Jimmy
1 Samantha
2 Monica
3 Caleb

In [14]:
data= ['a', 'b', 'c', 'd', 'e']

for i in range(10):
  print(i, end=" ") # use end=" " for cleaner output
  
for letter in data:
  print(letter, end=" ")

for i, letter in enumerate(data):
    print(i, letter, end= " ")

0 1 2 3 4 5 6 7 8 9 a b c d e 0 a 1 b 2 c 3 d 4 e

In [15]:
data= ['a', 'b', 'c', 'd', 'e']

for i in range(10):
  print(i, end=" ") # use end=" " for cleaner output

print(" ")  # space between the for loops
for letter in data:
  print(letter, end=" ")

print(" ") # space betweent the for loops
for i, letter in enumerate(data):
    print(i, letter, end= " ")

0 1 2 3 4 5 6 7 8 9
a b c d e 0 a 1 b 2 c 3 d 4 e

In [29]:
data= ['a', 'b', 'c', 'd', 'e']

i = 0      # initialization// set variable

while i < len(data):     # len = length of
  print(data[i], end=" ") # data [i] =data index
  i += 1     #  += increases a variable by 1 same as i ++ in java

a b c d e

In [32]:
data_dictionary = {
    'Caleb': 5,
    'Jimmy': 10,
    'Samantha': 12,
    'Monica': 20,
    'Caleb': 4
}
#print(data_dictionary)  # same a below\
for key, value in data_dictionary.items():
  if value == 12: # customer logic
    print('We found 12')
    break
  print(key, value)

Caleb 4
Jimmy 10
We found 12

# Custom Functions
Guessing game.  

Generate a random number- random module

do while - Python doesn't have this built in.  
do something once - possible repeat it.   
Ask us for a number: if we get it wrong ask again.
logic for right/wrong: guessed==correct value

In [61]:
from random import randint
low =0
high=100
correct = randint(low, high)
print(f"Guess a number between {low} and {high}.")

while True:
  guess = int(input()) #function attached to int class constructing a new int

  if guess < correct:
    print("Guess Higher")
  elif guess > correct:
    print("Guess Lower")
 # print(type(guess), type(correct))
  else:
    print("You win")
    break
 # do something
 # check to see if we should do it again

Guess a number between 0 and 100.
50
Guess Lower
25
Guess Lower
15
Guess Higher
20
Guess Lower
18
You win